<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admins">Book Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admins">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">View All Order</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">View Accounts</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/books/new">Add Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">View Reviews</a>
        </li>
       
      </ul>
      <div class="d-flex">
         <div class=" dropdown">
          <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <%= image_tag "boy.png", {style:'height:44px;width:45px;'}%> 
          </a>
         
          <ul class="dropdown-menu" style= "left: -195px;" aria-labelledby="navbarDropdown">
           
            <li><span class="dropdown-item" >Name : <%=  %></span></li>
            <li><span class="dropdown-item" >Email : <%=%></span></li>
            
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/customers/customers_details">Account Details</a></li>
            <li><a class="dropdown-item" href="/" onclick="function(){<%session.delete(:customer)%>}">Log Out</a></li>
          </ul>
         
        </div>
        
      </div>
    </div>
  </div>
</nav>


	