<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/customers">Book Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/customers">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Make Order</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">View Reviews</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Your Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Your Reviews</a>
        </li>
       
      </ul>
      <div class="d-flex">
         <div class=" dropdown">
          <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <%= image_tag "boy.png", {style:'height:44px;width:45px;'}%> 
          </a>
          <% if session[:customer_id] != nil 
              # debugger
              customer = Customer.find(session[:customer_id]);

          %>
          <ul class="dropdown-menu" style= "left: -195px;" aria-labelledby="navbarDropdown">
           
            <li><span class="dropdown-item" >Name : <%= customer.first_name %></span></li>
            <li><span class="dropdown-item" >Email : <%=customer.email%></span></li>
            
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/customers/customers_details">Account Details</a></li>
            <li><a class="dropdown-item" href="/customers" onclick="function(){<%session.delete(:customer_id)%>}">Log Out</a></li>
          </ul>
          <%else%>
             <ul class="dropdown-menu" style= "left: -135px;" aria-labelledby="navbarDropdown">
           
            <li><a class="dropdown-item" href="/admins/login">Admin Login</a></li>
            <li><a class="dropdown-item" href="/customers/login">Customer Login</a></li>
            
           
          </ul>
          <%end%>
        </div>
        
      </div>
    </div>
  </div>
</nav>


	
