
	<%= render "nav" %>


<div>
  
  <div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <!-- <img src="images/log.png" class="card-img-top" alt="..."> -->
        <div class="card-body">
         <h5 class="card-title">Book Name</h5>
         <p class="card-text">Book Price : </p>
         <p class="card-text">Year Of publice : </p>
         <p class="card-text">Views : </p>
         <p class="card-text">Author : </p>
          <a href="#" class="btn btn-primary">More Details</a>
        </div>
      </div>
    </div>
    <div class="col">
      Column
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>





</div>








